body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity:0.9;
  color: seashell;
  margin: 0;
}

html {
  margin:0
}

.header {
display: flex;
justify-content: space-between;
width: 100%;
height: 69px;
position: fixed;
border-bottom: 1px solid seashell

}

#logo{
  padding-top: 5px;
  padding-left: 10px;
  height: 50px;
  align-items: center;

}

.navbar{
  display: inline-flex;
  align-items: center;
}

a {
  color: seashell;
}

ul {
  list-style-type: none;

}

span {
  margin: 10px;
  text-decoration: underline;
}

.mission {
  display: flex;
}
