body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity:0.9;
  color: seashell;
  margin: auto;
}

html {
  margin:0
}

a {
  color: seashell;
}

h2,
h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

span {
  margin: 10px;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  top: auto;
  background-color: black;

}

.navbar{
  display: inline-flex;
  align-items: center;
}


.mission-container {

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 69px;
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  margin: auto;
}


.tea-month {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  width: 1000px;
  margin: 30px auto;
}

.teas {
  width:300px;
  height: 200px;
  padding: 0 15px;
}

.locations-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 30px auto;
}

.locations-boxes {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  opacity: 1;

}

#logo{

  margin-left: 10px;
  height: 50px;
  align-items: center;

}

#mission-statement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100%;
}

#whats-steeping {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 1000px;
}

#blitz h4,
#spiced-rum h4,
#donut h4,
#myrtle h4,
#bedford h4
{
  margin-top: 10px;
}

#locations h2{
  min-width: 1200px;
  margin: 0px;
}

#downtown {
  background-color: black;
  width: 300px;
  text-align: center;
  margin-right: 40px;

}

#east-bayside {
  background-color: black;
  width: 300px;
  text-align: center;
  margin-right: 40px;
}

#oakdale {
  background-color: black;
  width: 300px;
  text-align: center;
  margin-right: 40px;

}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  text-align: center;
  margin-top: 20px;
}

#copyright {
  margin-left: 20px;
}
